.form{
    margin-top: 1%;
    align-items: center;
    padding: 100px 600px;
  
   
  
}

.heading{
    text-align: center;
}
.submit{
    text-align:center;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .format{
    height: 400px;
    width: 400px;
  }
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  img.avatar {
    width: 20%;
    border-radius: 50%;
    text-align: left;
  }